@import '../tools/_functions.sass';

$utilities: () !default;
$utilities: map-deep-merge(
  (
    // Display utilities
    "overflow": (
      property: overflow,
      values: auto hidden visible,
    ),
    "overflow-x": (
      property: overflow-x,
      values: auto hidden
    ),
    "overflow-y": (
      property: overflow-y,
      values: auto hidden
    ),
    "display": (
      print: true,
      property: display,
      class: d,
      values: none inline inline-block block table table-row table-cell flex inline-flex
    ),
    "position": (
      print: true,
      property: position,
      class: p,
      values: static relative fixed absolute sticky
    ),
    "height": (
      print: true,
      property: height,
      class: h,
      values: (
        'auto': auto,
        '25': 25%,
        '50': 50%,
        '75': 75%,
        '100': 100%,
      )
    ),
    "width": (
      print: true,
      property: width,
      class: w,
      values: (
            'auto': auto,
            '25': 25%,
            '50': 50%,
            '75': 75%,
            '100': 100%,
      )
    ),
    "float": (
      print: true,
      property: float,
      class: float,
      values: none left right
    ),
   

    // Flex utilities
    "flex": (
      property: flex,
      values: (fill: 1 1 auto)
    ),
    "flex-direction": (
      property: flex-direction,
      class: flex,
      values: row column row-reverse column-reverse
    ),
    "flex-grow": (
      property: flex-grow,
      class: flex,
      values: (
        grow-0: 0,
        grow-1: 1,
      )
    ),
    "flex-shrink": (
      property: flex-shrink,
      class: flex,
      values: (
        shrink-0: 0,
        shrink-1: 1,
      )
    ),
    "flex-wrap": (
      
      property: flex-wrap,
      class: flex,
      values: wrap nowrap wrap-reverse
    ),
    "justify-content": (
      
      property: justify-content,
      class: justify,
      values: (
        start: flex-start,
        end: flex-end,
        center: center,
        space-between: space-between,
        space-around: space-around,
      )
    ),
    "align-items": (
      
      property: align-items,
      class: align,
      values: (
        start: flex-start,
        end: flex-end,
        center: center,
        baseline: baseline,
        stretch: stretch,
      )
    ),
    "align-content": (
      
      property: align-content,
      values: (
        start: flex-start,
        end: flex-end,
        center: center,
        space-between: space-between,
        space-around: space-around,
        stretch: stretch,
      )
    ),
    "align-self": (
      
      property: align-self,
      values: (
        auto: auto,
        start: flex-start,
        end: flex-end,
        center: center,
        baseline: baseline,
        stretch: stretch,
      )
    ),
    "order": (
      
      property: order,
      values: (
        first: -1,
        0: 0,
        1: 1,
        2: 2,
        3: 3,
        4: 4,
        5: 5,
        6: 6,
        7: 7,
        8: 8,
        9: 9,
        10: 10,
        11: 11,
        12: 12,
        last: 13,
      ),
    ),

    // Margin utilities
    "margin": (
      
      property: margin,
      class: ma,
      values: map-merge($spacers, (auto: auto))
    ),
    "margin-x": (
      
      property: margin-right margin-left,
      class: mx,
      values: map-merge($spacers, (auto: auto))
    ),
    "margin-y": (
      
      property: margin-top margin-bottom,
      class: my,
      values: map-merge($spacers, (auto: auto))
    ),
    "margin-top": (
      
      property: margin-top,
      class: mt,
      values: map-merge($spacers, (auto: auto))
    ),
    "margin-right": (
      
      property: margin-right,
      class: mr,
      values: map-merge($spacers, (auto: auto))
    ),
    "margin-bottom": (
      
      property: margin-bottom,
      class: mb,
      values: map-merge($spacers, (auto: auto))
    ),
    "margin-left": (
      
      property: margin-left,
      class: ml,
      values: map-merge($spacers, (auto: auto))
    ),


    // Negative margin utilities
    "negative-margin": (
      
      property: margin,
      class: ma,
      values: $negative-spacers
    ),
    "negative-margin-x": (
      
      property: margin-right margin-left,
      class: mx,
      values: $negative-spacers
    ),
    "negative-margin-y": (
      
      property: margin-top margin-bottom,
      class: my,
      values: $negative-spacers
    ),
    "negative-margin-top": (
      
      property: margin-top,
      class: mt,
      values: $negative-spacers
    ),
    "negative-margin-right": (
      
      property: margin-right,
      class: mr,
      values: $negative-spacers
    ),
    "negative-margin-bottom": (
      
      property: margin-bottom,
      class: mb,
      values: $negative-spacers
    ),
    "negative-margin-left": (
      
      property: margin-left,
      class: ml,
      values: $negative-spacers
    ),
    
    // Padding utilities
    "padding": (
      
      property: padding,
      class: pa,
      values: $spacers
    ),
    "padding-x": (
      
      property: padding-right padding-left,
      class: px,
      values: $spacers
    ),
    "padding-y": (
      
      property: padding-top padding-bottom,
      class: py,
      values: $spacers
    ),
    "padding-top": (
      
      property: padding-top,
      class: pt,
      values: $spacers
    ),
    "padding-right": (
      
      property: padding-right,
      class: pr,
      values: $spacers
    ),
    "padding-bottom": (
      
      property: padding-bottom,
      class: pb,
      values: $spacers
    ),
    "padding-left": (
      
      property: padding-left,
      class: pl,
      values: $spacers
    ),
    

    // Border
    "rounded": (
      property: border-radius,
      class: rounded,
      values: $rounded
    ),
    "rounded-top": (
      property: border-top-left-radius border-top-right-radius,
      class: rounded-t,
      values: $rounded
    ),
    "rounded-right": (
      property: border-top-right-radius border-bottom-right-radius,
      class: rounded-r,
      values: $rounded
    ),
    "rounded-bottom": (
      property: border-bottom-left-radius border-bottom-right-radius,
      class: rounded-b,
      values: $rounded
    ),
    "rounded-left": (
      property: border-top-left-radius border-bottom-left-radius,
      class: rounded-l,
      values: $rounded
    ),
    "rounded-top-left": (
      property: border-top-left-radius,
      class: rounded-tl,
      values: $rounded
    ),
    "rounded-top-right": (
      property: border-top-right-radius,
      class: rounded-tr,
      values: $rounded
    ),
    "rounded-bottom-right": (
      property: border-bottom-right-radius,
      class: rounded-br,
      values: $rounded
    ),
    "rounded-bottom-left": (
      property: border-bottom-left-radius,
      class: rounded-bl,
      values: $rounded
    ),

    // Text
    "text-align": (
      
      property: text-align,
      class: text,
      values: left right center justify start end
    ),
    "text-decoration": (
      property: text-decoration,
      class: text-decoration,
      values: line-through none overline underline
    ),
    "white-space": (
      property: white-space,
      class: text,
      values: (
        wrap: normal,
        no-wrap: nowrap,
        pre: pre,
        pre-line: pre-line,
        pre-wrap: pre-wrap,
      )
    ),
    "overflow-wrap": (
      property: overflow-wrap word-break, // word-break for IE & < Edge 18
      class: text,
      values: (break: break-word)
    ),
    "text-overflow": (
      property: white-space overflow text-overflow,
      class: text,
      values: (truncate: nowrap hidden ellipsis)
    ),
    "text-transform": (
      property: text-transform,
      class: text,
      values: none capitalize lowercase uppercase
    ),
    "typography": (
      
      property: (
        font-size,
        font-weight,
        line-height,
        letter-spacing,
        font-family,
        text-transform
      ),
      class: text,
      unimportant: (
        font-weight,
        line-height
      ),
      values: $typography
    )
  ),
  $utilities
);
