// fonts that will be imported
$config-font-weight: (
  "ExtraLight": 100,
  "Light": 200,
  "Regular": 400,
  "SemiBold": 500,
  "Bold": 600,
  "ExtraBold": 900,
) !default;
$config-font-style: (
  "": normal,
  "Italic": italic,
) !default;

// Generate all imports for font styling
@each $fwName, $fwValue in $config-font-weight {
  @each $fsName, $fsValue in $config-font-style {
    @font-face {
      font-family: "Poppins";
      src: url(~/assets/fonts/Poppins-#{$fwName}#{$fsName}.ttf);
      src: local("Poppins"), local("Poppins-#{$fwName}#{fsName}"),
        url(~/assets/fonts/Poppins-#{$fwName}#{$fsName}.ttf) format("truetype");
      font-weight: $fwValue;
      font-style: $fsValue;
    }
  }
}
